.gridWrapper {
  display: grid;
  grid-template-columns: var(--grid-mobile);
  gap: var(--gap-mobile);
  height: 100%;
  flex-grow: 1;

  @include desktop {
    grid-template-columns: var(--grid-desktop);
    gap: var(--gap-desktop);
  }

  @include desktop-lg {
    grid-template-columns: var(--grid-desktop-lg);
    gap: var(--gap-desktop-lg);
  }
}
