// Colors
$color-black: #000000;
$color-white: #ffffff;
$color-yellow: #fee97d;
$color-lilac: #a30ee9;

// Background Colors
$background-color-primary: $color-lilac;
$background-color-secondary: $color-yellow;

// Typography ==============

// Font Families
$font-family-primary: 'Stolzl', sans-serif;
$font-family-secondary: 'Halvar Breit', sans-serif;

// Font Sizes
$font-size-18: 18px;
$font-size-20: 20px;
$font-size-24: 24px;
$font-size-28: 28px;
$font-size-32: 32px;
$font-size-72: 72px;

// Font Weights
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

// Spacing
$space-4: 4px;
$space-8: 8px;
$space-12: 12px;
$space-16: 16px;
$space-24: 24px;
$space-32: 32px;

// Media Queries ==============
$breakpoint-desktop: 1024px;
