.overlay {
  position: fixed;
  inset: 0;
  z-index: 1000;
  @include flex-center;
  padding: 16px;
  backdrop-filter: blur(20px);
  background: rgba(12, 9, 14, 0.5);
}

.modal {
  position: relative;
  width: 100%;
  max-width: 560px;
  border-radius: 12px;
  overflow: hidden;
  padding-inline: $space-20;
  padding-block: 60px;
  background: $color-white;
  color: $color-purple-dark;
  font-size: $text-size-caption;
  font-weight: $font-weight-light;
  border: 1px solid $bg-card-highlight;

  @include desktop {
    padding-inline: $space-30;
    font-size: $text-size-body;
  }

  .closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    fill: $bg-card-highlight;
  }

  .logo {
    fill: $bg-card-highlight;
    display: block;
    margin: 0 auto $space-40;
  }
}
