.overlay {
  position: fixed;
  inset: 0;
  z-index: $z-index-modal;
  @include flex-center;
  padding: $space-16;
  backdrop-filter: blur($blur-overlay);
  background: $color-overlay;
}

.modal {
  position: relative;
  width: 100%;
  max-width: 560px;
  border-radius: 12px;
  padding-inline: $space-20;
  padding-block: 60px;
  background: $color-white;
  color: $color-purple-dark;
  font-size: $text-size-caption;
  font-weight: $font-weight-light;
  border: 1px solid $bg-card-highlight;

  @include desktop {
    padding-inline: $space-30;
    font-size: $text-size-body;
  }

  .closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    fill: $bg-card-highlight;
  }

  .logo {
    fill: $bg-card-highlight;
    display: block;
    margin: 0 auto $space-40;

    width: 45px;
    height: 41px;
  }
}
