// Colors
$color-black: #000000;
$color-white: #ffffff;
$color-yellow: #fee97d;
$color-liliac: #a30ee9;

// Background Colors
$background-color-primary: $color-liliac;
$background-color-secondary: $color-yellow;

// Typography ==============

// Font Sizes
$font-size-xs: 18px;
$font-size-s: 20px;
$font-size-m: 24px;
$font-size-l: 28px;
$font-size-xl: 32px;
$font-size-xxl: 72px;

// Media Queries ==============
$breakpoint-mobile: 480px;
$breakpoint-desktop: 1024px;
