.section {
  position: relative;
  padding-inline: $space-container-mobile;
}

.fullHeight {
  min-height: 100svh;
}

.container {
  position: relative;
  z-index: 1;
  height: 100vh;
}

.background {
  position: absolute;
  inset: 0;
  z-index: 0;
  pointer-events: none;
}

@media (min-width: $breakpoint-desktop) {
  .section {
    padding-inline: $space-container-desktop;
  }

  .fullHeight {
    min-height: 100vh;
  }
}

@media (min-width: $breakpoint-desktop-lg) {
  .section {
    padding-inline: $space-container-desktop-lg;
  }
}
