.section {
  position: relative;
  padding-inline: $space-container-mobile;
  display: flex;
  flex-direction: column;
}

.fullHeight {
  min-height: 100svh;

  @include desktop {
    min-height: 100vh;
  }
}

.container {
  position: relative;
  z-index: 1;

  flex: 1;

  display: flex;
  flex-direction: column;

  min-height: 0;
}

.background {
  position: absolute;
  inset: 0;
  z-index: 0;
  pointer-events: none;
}

@include desktop {
  .section {
    padding-inline: $space-container-desktop;
  }

  .fullHeight {
    min-height: 100vh;
  }
}

@include desktop-lg {
  .section {
    padding-inline: $space-container-desktop-lg;
  }
}
