$title-top-mobile: 150px;
$title-top-desktop: 224px;
$bg-snake-desktop-offset: 100px;
$bg-snake-url: url('@assets/img/snake/snake-coiled.png');

.bg {
  width: 100%;
  height: 100%;
  min-width: fit-content;
  background-color: $color-purple-700;
  background-image: $bg-snake-url;
  background-repeat: no-repeat;
  background-size: 120%;
  background-position: left bottom;

  @include desktop {
    background-image: $bg-snake-url, $gradient-bg-default;
    background-size: contain, auto;
    background-position:
      right calc(100% + $bg-snake-desktop-offset),
      center;
  }
}

.title {
  font-family: $font-family-display;
  font-size: $text-size-display-on-mobile;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
  margin: $title-top-mobile 0 $space-12;

  @include desktop {
    font-size: $text-size-display-on-desktop;
    margin-top: $title-top-desktop;
  }
}

.businessValues {
  display: inline-grid;
}

.businessValue {
  grid-area: 1 / 1;
  visibility: hidden;
  color: $color-yellow-300;

  &[data-visible='true'] {
    visibility: visible;
  }
}

.subtitle {
  font-size: $text-size-body;
  margin-bottom: $space-20;
  line-height: $line-height-primary;

  @include desktop {
    font-size: $text-size-body-lg;
    margin-bottom: $space-32;
  }
}
