.form {
  display: flex;
  flex-direction: column;
  gap: $space-16;
  overflow: visible;
}

.row {
  display: flex;
  flex-direction: column;
  gap: $space-12;

  @include desktop {
    flex-direction: row;
  }
}

.contactMethod {
  flex: 0 0 40%;
}

.contactValue {
  flex: 1;
}
