.form {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: visible;
  gap: $space-4;
}

.formFields {
  display: flex;
  flex-direction: column;
  gap: $space-12;

  @include desktop {
    gap: $space-8;
  }
}

.note {
  font-weight: $font-weight-light;
  color: $field-text;

  .requiredMark {
    color: $field-border-focus;
  }
}

.row {
  display: flex;
  flex-direction: column;
  gap: $space-12;

  @include desktop {
    flex-direction: row;
  }
}

.contactMethod {
  flex: 0 0 40%;
}

.contactValue {
  flex: 1;
}

.submitBtn {
  margin-top: auto;
  align-self: center;
}

.submitErrorWrap {
  min-height: $space-20;
}

.submitError {
  color: $field-error;
  font-size: $text-size-caption;
}
