.success {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: $color-purple-dark;
  min-height: 100%;
  flex: 1;
}

.title {
  font-size: $text-size-body-lg;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
  font-family: $font-family-display;
  margin-bottom: $space-12;
  margin-top: $space-24;

  @include desktop {
    margin-top: $space-12;
  }
}

.description {
  font-size: $text-size-body;
  font-weight: $font-weight-light;

  @include desktop {
    font-weight: $font-weight-regular;
  }
}

.doneBtn {
  margin-top: auto;
}
