@use '../constants' as *;

@mixin desktop {
  @media (min-width: $breakpoint-desktop) {
    @content;
  }
}

@mixin desktop-lg {
  @media (min-width: $breakpoint-desktop-lg) {
    @content;
  }
}

@mixin button-transition {
  transition:
    background-color 0.2s ease,
    border-color 0.2s ease,
    color 0.2s ease;
}

@mixin logo {
  height: $logo-height-sm;
  width: $logo-width-sm;

  & > path,
  ellipse {
    fill: $color-white;
  }

  @include desktop {
    height: $logo-height-lg;
    width: $logo-width-lg;
  }
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin section-label($align: right) {
  font-weight: $font-weight-bold;
  font-size: $text-size-section-label-on-desktop;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: $color-yellow-300;
  font-family: $font-family-display;
  text-align: $align;
}
