.footerContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
  gap: $space-10;
}

.contactList {
  display: flex;
  align-items: center;

  gap: $space-10;
}

.scrollTop {
  @include interactive-display;
  font-size: $text-size-body-lg;

  display: inline-flex;
  align-items: end;
  gap: 8px;

  .arrow {
    width: 25px;
    height: 25px;
    display: block;
    fill: $color-yellow-300;
  }

  &:hover {
    color: $color-white;

    .arrow {
      fill: $color-white;
    }
  }
}
